html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, rgb(40, 40, 244), rgb(129, 129, 219));
}

header {
    background-color: rgb(47, 156, 146);
    font-size: 20px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}

img {
    width: 60px;
    height: 60px;
    margin: 5px 0 0 10px;
}

.header2_1 {
    list-style-type: none;
    margin-top: 25px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    /* justify-content: space-between; */
}

a {
    text-decoration: none;
    color: black;
}

.header3_1 {
    color: rgb(223, 223, 15);
    margin-right: 20px;

}

.header3_2 {
    color: white;
    background-color: rgb(178, 8, 36);
    border-radius: 5px;
    height: max-content;
    margin-top: 20px;
}

.header3 {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    margin-right: 20px;
}

.header1 {
    display: grid;
    grid-template-columns: auto auto;
}

.header2_1>li {
    margin-right: 15px;
}

.header2_1>li:hover {
    cursor: pointer;
    /* background-color: blue; */
}

button:hover {
    cursor: pointer;
    background-color: rgb(176, 67, 85);
}

/* Css phần menu 1 : Quản lý người dùng */
.father1::before {
    position: absolute;
    display: block;
    content: "";
    width: 180px;
    height: 20px;
    /* background-color: red; */
    top: 12px;
}

.father1 {
    position: relative;
}

.menu1 {
    position: absolute;
    list-style-type: none;
    padding-left: 0px;
    background-color: rgb(139, 137, 137);
    border-radius: 5px;
    padding-top: 0px;
    top: 28px;
    display: none;
}

.menu1>li {
    width: 196px;
    margin-top: 10px;
}

.menu1>li:hover {
    cursor: pointer;
    background-color: rgb(208, 205, 205);
}

.father1:hover .menu1 {
    display: grid;
}

/* Css phần menu 2 : Quản lý lớp */
.father2::before {
    position: absolute;
    display: block;
    content: "";
    width: 110px;
    height: 20px;
    /* background-color: red; */
    top: 12px;
}

.father2 {
    position: relative;
}

.menu2 {
    position: absolute;
    list-style-type: none;
    padding-left: 0px;
    background-color: rgb(139, 137, 137);
    border-radius: 5px;
    padding-top: 0px;
    top: 28px;
    display: none;
}

.menu2>li {
    width: 130px;
    margin-top: 10px;
}

.menu2>li:hover {
    cursor: pointer;
    background-color: rgb(208, 205, 205);
}

.father2:hover .menu2 {
    display: grid;
}

/* Css phần menu 3 : Quản lý học sinh */
.father3::before {
    position: absolute;
    display: block;
    content: "";
    width: 150px;
    height: 20px;
    /* background-color: red; */
    top: 12px;
}

.father3 {
    position: relative;
}

.menu3 {
    position: absolute;
    list-style-type: none;
    padding-left: 0px;
    background-color: rgb(139, 137, 137);
    border-radius: 5px;
    padding-top: 0px;
    top: 28px;
    display: none;
}

.menu3>li {
    width: 180px;
    margin-top: 10px;
}

.menu3>li:hover {
    cursor: pointer;
    background-color: rgb(208, 205, 205);
}

.father3:hover .menu3 {
    display: grid;
}

/* Css phần menu 4 : Quản lý thư viện */
.father4::before {
    position: absolute;
    display: block;
    content: "";
    width: 150px;
    height: 20px;
    /* background-color: red; */
    top: 12px;
}

.father4 {
    position: relative;
}

.menu4 {
    position: absolute;
    list-style-type: none;
    padding-left: 0px;
    background-color: rgb(139, 137, 137);
    border-radius: 5px;
    padding-top: 0px;
    top: 28px;
    display: none;
}

.menu4>li {
    width: 200px;
    margin-top: 10px;
}

.menu4>li:hover {
    cursor: pointer;
    background-color: rgb(208, 205, 205);
}

.father4:hover .menu4 {
    display: grid;
}

/* Css phần menu 5 : Khác */
.father5::before {
    position: absolute;
    display: block;
    content: "";
    width: 150px;
    height: 20px;
    /* background-color: red; */
    top: 12px;
}

.father5 {
    position: relative;
}

.menu5 {
    position: absolute;
    list-style-type: none;
    padding-left: 0px;
    background-color: rgb(139, 137, 137);
    border-radius: 5px;
    padding-top: 0px;
    top: 28px;
    display: none;
}

.menu5>li {
    width: 180px;
    margin-top: 10px;
}

.menu5>li:hover {
    cursor: pointer;
    background-color: rgb(208, 205, 205);
}

.father5:hover .menu5 {
    display: grid;
}

.body1 {
    /* margin-top: 3%; */
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}

.Bodybody1_1_1,
.Bodybody1_1_2 {
    margin-left: 25%;
    font-size: 30px;
    font-weight: bolder;
    color: wheat;
    padding-bottom: 0px;
    padding-top: 0px;
}

.Bodybody1_1_1 {
    margin-top: 20%;
}

.body1_2 {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-right: 30px;
    margin-top: 25%;
}

.body2 {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}

.body2_1_btn {
    height: max-content;
    width: 250px;
    font-size: 20px;
    background-color: rgb(178, 8, 36);
    color: white;
    margin-left: 60%;
    padding: 0px;
    border-radius: 5px;
}

.body2_2 {
    margin-right: 100px;
    color: white;
    font-size: 16px;
    padding-left: 0px;
}