html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        header {
            display: flex;
            justify-content: space-between;
            background-color: rgb(77, 77, 243);
            color: white;
            font-size: 16px;
            font-weight: bold;
        }

        .header1 {
            margin-left: 50px;
            display: grid;
            grid-template-columns: auto auto;

        }

        i {
            margin-top: 15px;
            margin-right: 5px;
        }

        .header2 {
            margin-right: 50px;
            height: max-content;
            margin-top: 12px;
        }

        .body {
            background-image: url(BackGround.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            /* Chiều cao trừ đi chiều cao của header */
            height: calc(100% - 50px);
            width: 100%;
            display: flex;
            /* Căn giữa theo chiều ngang */
            justify-content: center;
            /* Căn giữa theo chiều dọc */
            align-items: center;
            /* Xếp chống lên nhau theo hàng dọc */
            flex-direction: column;

            color: white;
            text-align: center;
        }

        .textBody1 {
            font-size: 32px;
            font-weight: bolder;
        }

        .textBody2 {
            font-size: 24px;
            font-weight: bold;

        }

        .body1 {
            padding-top: 0px;
        }

        button {
            background-color: rgba(245, 240, 240, 0);
            color: white;
            border: 1px solid white;
            line-height: 25px;
        }

        button:hover {
            cursor: pointer;
            background-color: #999;
            color: black;
        }